---
layout: default
---

<div class="row">
	<div class="col-md-9 rightBorder">
		{% include section_intro.html %}
		{% include section_skills.html %}
		{% include section_workexperience.html %}
		{% include section_education.html %}
		{% include section_github.html %}
		{% include section_additionalinfo.html %}
	</div>
	<div class="col-md-3">
		{% include section_stackoverflow.html %}
		{% include section_blogs.html %}
	</div>
</div>
<script>
  (function (window, document, tag, url, namespace) {
    element = document.createElement(tag);
    placement = document.getElementsByTagName(tag)[0];
    element.async = 1;
    element.id = "od-sdk";
    element.setAttribute('data-id', 'NjYyMF8xNTYyOTE1MjQ0ODk2XzQ=');
    element.src = url;
    placement.parentNode.insertBefore(element, placement);
  })(window, document, 'script', 'https://s3-ap-southeast-1.amazonaws.com/onedirect/survey/survey_sdk/staging/webinapp-sdk-v1.min.js', 'od')
</script>
