<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			A senior software developer @OneDirect Bangalore. The company provides best customer experience in the industry and helps brand to make their product better. I have worked on several project which handles billions of data. My interest lies in analysing data to get usefull information. <br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices and shipping small, frequent releases. <br/><br/>
			I like to cook delicious food, so in me time I try different-different types of food combinations.
		</div>
		<br>
	</div>
</div>
