{% if site.blogfeed %}
	<div id="blogBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Recent blog posts</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="blogArticles">
				<a target='_blank' href="https://medium.com/@govinda_raj/qr-code-using-zxing-package-from-google-in-java-2fb3c0f3f95f">
					<header>QR Code using ‘zxing’ package from Google in Java</header>
					<img src="https://cdn-images-1.medium.com/max/800/1*uhHxi30T_i6f67BFVpii7g.jpeg" width="208" height="200" 
						alt="QR Code or Quick Response Code is a two dimensional barcode that can be read by modern smartphones and special QR Code scanner devices. " 
						title="QR Code or Quick Response Code is a two dimensional barcode that can be read by modern smartphones and special QR Code scanner devices.">
				</a>
				<a target='_blank' href="https://medium.com/@govinda_raj/a-visualized-point-about-kafka-stream-application-8e5cf7fe0d24">
					<header>A Visualization on Kafka Stream</header>
					<img src="https://miro.medium.com/max/2304/1*vt6wRrW0aYgk4p1pq72OpQ.jpeg" width="208" height="200" 
						alt="The stream keyword itself says A CONTINUOUS FLOW OF DATA in the world of information technology " 
						title="The stream keyword itself says A CONTINUOUS FLOW OF DATA in the world of information technology">
				</a>
				<a target='_blank' href="https://medium.com/@govinda_raj/all-you-need-to-know-jvm-36c0b59ba969">
					<header>All you need to know about a Java Virtual Machine</header>
					<img src="https://miro.medium.com/max/988/1*WOwj7Auqv_ZiRw8I02X1hA.jpeg" width="208" height="200" 
						alt="Everything of Java Virtial Machine!" 
						title="Everything of Java Virtial Machine!">
				</a>
				<a target='_blank' href="https://medium.com/@govinda_raj/sql-injection-71b39ff637fa">
					<header>Sql Injection</header>
					<img src="https://miro.medium.com/max/1000/1*Q_-C8pPhXFiOd_Mu5AIECA.gif" width="208" height="200" 
						alt="SQL Injection can provide an attacker with unauthorised access to sensitive data including, customer data, personally identifiable information, trade secrets, intellectual property and other sensitive information." 
						title="SQL Injection can provide an attacker with unauthorised access to sensitive data including, customer data, personally identifiable information, trade secrets, intellectual property and other sensitive information.">
				</a>
				<a target='_blank' href="https://medium.com/wolfie-javachallenge/java-challenge-1-7f4663939712">
					<header>Java Challenege</header>
					<img src="https://miro.medium.com/max/600/1*MXe8oNsnNA29Dp5TBD8_Iw.jpeg" width="208" height="200" 
						alt="Follow my Java Challenge Series!" 
						title="Follow my Java Challenge Series!">
				</a>
			</div>
			<br>
		</div>
	</div>
{% endif %}

