<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Software Engineer working at Coviam, since July 2017. Currently, I am working on OTA (Online Travelling Agent) platform. As it uses latest tech for development which is giving me a good blend of enterprise and start-up experience. <br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
