{% if site.blogfeed %}
	<div id="blogBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Recent blog posts</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="blogArticles">
				<a target='_blank' href="https://medium.com/@govinda_raj/qr-code-using-zxing-package-from-google-in-java-2fb3c0f3f95f">
					<img src="https://cdn-images-1.medium.com/max/800/1*uhHxi30T_i6f67BFVpii7g.jpeg" width="208" height="200" 
						alt="QR Code or Quick Response Code is a two dimensional barcode that can be read by modern smartphones and special QR Code scanner devices. " 
						title="QR Code or Quick Response Code is a two dimensional barcode that can be read by modern smartphones and special QR Code scanner devices.">
				</a>
			</div>
			<br>
		</div>
	</div>
{% endif %}

